VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
VITE_GOVT_PORTAL_URL=http://localhost:5174
VITE_GUARDIAN_PORTAL_URL=http://localhost:5175
VITE_EMERGENCY_NUMBERS=+91XXXXXXXXXX
VITE_APP_NAME=Aaraksha
VITE_APP_TAGLINE=Smart Tourism · Safe Journey
